# Игнорировать ВСЕ папки data во всех подпапках
**/data/

# Игнорировать ТОЛЬКО корневую папку results (25GB)
/results/

# Игнорировать папку soft и системные логи
soft/
logs/

# Игнорировать тяжелые файлы биоинформатики
*.vcf
*.vcf.idx
*.stats
*.bam
*.bai
